Softsol/Day6/Emps.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="EMPS" type="complexTypeEmps"/>
  <xsd:complexType name="complexTypeEmps">
    <xsd:sequence>
      <xsd:element name="EMP" type="complexTypeEmp" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="complexTypeEmp">
    <xsd:sequence>
      <xsd:element name="EMPNO" type="xsd:positiveInteger"/>
      <xsd:element name="NAME" type="xsd:string"/>
      <xsd:element name="BASIC" type="xsd:positiveInteger"/>
    </xsd:sequence>
    <xsd:attribute name="CATEGORY" use="optional" type="xsd:string"/>
  </xsd:complexType>
</xsd:schema>